body {
	background:url(../images/backgrounds/blue.jpg) repeat;
}

#header {
	background: rgba(130,165,255,1);
background: -moz-linear-gradient(top, rgba(130,165,255,1) 0%, rgba(130,165,255,1) 12%, rgba(12,49,199,1) 61%, rgba(0,0,145,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(130,165,255,1)), color-stop(12%, rgba(130,165,255,1)), color-stop(61%, rgba(12,49,199,1)), color-stop(100%, rgba(0,0,145,1)));
background: -webkit-linear-gradient(top, rgba(130,165,255,1) 0%, rgba(130,165,255,1) 12%, rgba(12,49,199,1) 61%, rgba(0,0,145,1) 100%);
background: -o-linear-gradient(top, rgba(130,165,255,1) 0%, rgba(130,165,255,1) 12%, rgba(12,49,199,1) 61%, rgba(0,0,145,1) 100%);
background: -ms-linear-gradient(top, rgba(130,165,255,1) 0%, rgba(130,165,255,1) 12%, rgba(12,49,199,1) 61%, rgba(0,0,145,1) 100%);
background: linear-gradient(to bottom, rgba(130,165,255,1) 0%, rgba(130,165,255,1) 12%, rgba(12,49,199,1) 61%, rgba(0,0,145,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82a5ff', endColorstr='#000091', GradientType=0 );
	border-top:3px solid #b3d1eb;  
    border-bottom: 1px solid #555555; margin-top:10px;
}

#search input[type=text] {
	background-color: #fff;
}
#search input[type=text]:focus {
	color: #777777;
}
.dropdown-menu li a:hover, .dropdown-menu .active a, .dropdown-menu .active a:hover {
    color: #eeeeee;
	background:#F77825;
   
}
.top_message{ float:right; padding:20px 12px; position:relative; top:-13px; border-left:1px solid #3D3A37; font-size:14px; line-height:20px; *line-height:20px; color:#333; text-align:center;  vertical-align:middle; cursor:pointer; }
.top_message:hover{ background:#000}
.rightzero{ right:0px; display:none;}
@media (max-width: 480px) {
	#sidebar > a {
		background-image: -moz-linear-gradient(top, #464646 0%, #404040 100%);
		border-bottom: 1px solid #6e6e6e;
	}
	#sidebar > ul {
		background-color: #444444;
	}
}
@media (min-width: 481px) and (max-width: 767px) {
	#sidebar > ul ul:before {
		border-right: 7px solid rgba(0, 0, 0, 0.2);
	}
	#sidebar > ul ul:after {
		border-right: 6px solid #222222;
    }
}
